// <copyright file="APIController.cs" company="APIMatic">
// CypressTestAPI.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using CypressTestAPI.Standard.Exceptions;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace CypressTestAPI.Standard.Controllers
{
    /// <summary>
    /// APIController.
    /// </summary>
    public class APIController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="APIController"/> class.
        /// </summary>
        internal APIController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Creates a new resource in the system.
        /// </summary>
        /// <param name="status">Required parameter: The status of the items to filter by..</param>
        /// <param name="body">Optional parameter: Custom model with additional properties.</param>
        /// <returns>Returns the object response from the API call.</returns>
        public object Createanitem(
                Models.Status11Enum status,
                Models.Item body = null)
            => CoreHelper.RunTask(CreateanitemAsync(status, body));

        /// <summary>
        /// Creates a new resource in the system.
        /// </summary>
        /// <param name="status">Required parameter: The status of the items to filter by..</param>
        /// <param name="body">Optional parameter: Custom model with additional properties.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the object response from the API call.</returns>
        public async Task<object> CreateanitemAsync(
                Models.Status11Enum status,
                Models.Item body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<object>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/items/{status}")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("status", CoreHelper.JsonSerialize(status).Trim('\"')))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Syntax", (errorReason, context) => new ApiException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new ApiException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Permission Denied", (errorReason, context) => new ApiException(errorReason, context)))
                  .Deserializer(response => response))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// GetanitembyID EndPoint.
        /// </summary>
        /// <param name="id">Required parameter: The ID of the item to retrieve.</param>
        /// <param name="mValue">Required parameter: The value of the item to retrieve.</param>
        /// <returns>Returns the Models.Item response from the API call.</returns>
        public Models.Item GetanitembyID(
                string id,
                string mValue)
            => CoreHelper.RunTask(GetanitembyIDAsync(id, mValue));

        /// <summary>
        /// GetanitembyID EndPoint.
        /// </summary>
        /// <param name="id">Required parameter: The ID of the item to retrieve.</param>
        /// <param name="mValue">Required parameter: The value of the item to retrieve.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.Item response from the API call.</returns>
        public async Task<Models.Item> GetanitembyIDAsync(
                string id,
                string mValue,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Item>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/items/{id}")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("id", id))
                      .Query(query => query.Setup("value", mValue))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Generates a new OAuth token with the specified scopes.
        /// </summary>
        /// <param name="body">Optional parameter: .</param>
        public void CreateOAuthToken(
                Models.TokensRequest body = null)
            => CoreHelper.RunVoidTask(CreateOAuthTokenAsync(body));

        /// <summary>
        /// Generates a new OAuth token with the specified scopes.
        /// </summary>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task CreateOAuthTokenAsync(
                Models.TokensRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/tokens")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad request", (errorReason, context) => new ApiException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This endpoint accepts a complex structure with multiple arrays.
        /// </summary>
        /// <param name="body">Optional parameter: .</param>
        public void TestEndpointwithArrays(
                Models.MultipleArraysRequest body = null)
            => CoreHelper.RunVoidTask(TestEndpointwithArraysAsync(body));

        /// <summary>
        /// This endpoint accepts a complex structure with multiple arrays.
        /// </summary>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task TestEndpointwithArraysAsync(
                Models.MultipleArraysRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/multiple-arrays")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad request", (errorReason, context) => new ApiException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}